body, html, * { margin:0; border:0; padding:0;}

.quarter-ellipse { border-radius: 0 0 100% 0; }
.quarter-ellipse {
  background: #32557f;
  width: calc(100% - 90px);
  height: 450px;
  
  background-color:blue;
  overflow:hidden;

}

.overlay {
    position:absolute;left:0;top:0;
    background: repeating-linear-gradient(
    0deg,
   #fff5,
   #0005 4px,
   #fff5 4px,
   #0005 8px
  );
}

ul {
    list-style-type:none;
}

.item {
  position: absolute;
  width: 130px;
  height: 40px;
  background-color: white;
  border:2px solid red;
  border-radius:40px;
}
.item-1 { 
    top:50px;
    left:calc(95% - 120px);
} 
.item-2 { 
    top:110px;
    left:calc(92% - 120px);
} 


