<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
  </head>
  <body>
    {% if logged_in %}
        <h1>Welcome {{user_name}} ({{user_id}})</h1>
        <p><a href="/logout">Logout</a></p>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login?provider=facebook&callback={{callback}}">Login with Facebook</a></p>
        <p><a href="/login?provider=google&callback={{callback}}">Login with Google</a></p>
        <input type="text" id="tempLevelJson"></input><button onclick="javascript:sessionStorage.setItem('tempLevelJson', document.getElementById('tempLevelJson').value);
">save</button>
    {% endif %}
  </body>
</html>
