<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">NON-DISCLOSURE AGREEMENT</span>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">THIS NON-DISCLOSURE AGREEMENT (the &quot;Agreement&quot;) dated this 4th day of December, 2024 (the &quot;Execution Date&quot;),</span>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">BETWEEN:</span>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;">Christopher Van Norman 
	</p>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;"><span style="font-style:normal;font-weight:bold;">- AND -</span><br/>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;">Eytan Tal 
	</p>
	</p>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">BACKGROUND:</span>
	</p>
	<ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
		<li style="margin-bottom:18.0pt;" value="1"><span>The Contractor is currently or may be retained as an independent contractor with the Client for the position of: <b><u>Software architecture and programming consulting.</b></u> In addition to this responsibility or position (the &quot;Retainer&quot;), this Agreement also covers any position or responsibility now or later held with the Client.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:0.0pt;" value="2"><span>The Contractor will receive from the Client, or develop on behalf of the Client, Confidential Information as a result of the Retainer (the 'Permitted Purpose').</span><span style="color:#000000;"><br/></span>
		</li>
	</ol>
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">IN CONSIDERATION OF</span> and as a condition of the Client retaining the Contractor and the Client providing the Confidential Information to the Contractor in addition to other valuable consideration, the receipt and sufficiency of which consideration is hereby acknowledged, the parties to this Agreement agree as follows:
	</p>
	<ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Confidential Information</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="1"><span>All written and oral information and materials disclosed or provided by the Client to the Contractor under this Agreement is Confidential Information regardless of whether it was provided before or after the date of this Agreement or how it was provided to the Contractor.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="2"><span>The</span> Contractor acknowledges that in any position the Contractor may hold, in and as a result of the Contractor's retainer by the Client, the Contractor will, or may, be making use of, acquiring or adding to information about certain matters and things which are confidential to the Client and which information is the exclusive property of the Client.<span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="3"><span>'Confidential Information' means all data and information relating to the business and management of the Client, including but not limited to, the following:</span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>'Customer Information' which includes names of customers of the Client, their representatives, all customer contact information, contracts and their contents and parties, customer services, data provided by customers and the type, quantity and specifications of products and services purchased, leased, licensed or received by customers of the</span> Client;<span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="2"><span>'Intellectual Property' which includes information relating to the</span> Client's proprietary rights prior to any public disclosure of such information, including but not limited to the nature of the proprietary rights, production data, technical and engineering data, technical concepts, test data and test results, simulation results, the status and details of research and development of products and services, and information regarding acquiring, protecting, enforcing and licensing proprietary rights (including patents, copyrights and trade secrets);<span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="3"><span>'Marketing and Development Information' which includes marketing and development plans of the Client, price and cost data, price and fee amounts, pricing and billing policies, quoting procedures, marketing techniques and methods of obtaining business, forecasts and forecast assumptions and volumes, and future plans and potential strategies of the</span> Client which have been or are being discussed;<span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="4"><span>'Business Operations' which includes internal personnel and financial information of the Client, vendor names and other vendor information (including vendor characteristics, services and agreements), purchasing and internal cost information, internal services and operational manuals, and the manner and methods of conducting the</span> Client's business;<span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="5"><span>'Product Information' which includes all specifications for products of the Client as well as work product resulting from or related to work or projects performed or to be performed for the Client or for clients of the Client, of any type or form in any stage of actual or anticipated research and development;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="6"><span>'Production Processes' which includes processes used in the creation, production and manufacturing of the work product of the Client, including but not limited to, formulas, patterns, molds, models, methods, techniques, specifications, processes, procedures, equipment, devices, programs, and designs;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="7"><span>'Service Information' which includes all data and information relating to the services provided by the Client, including but not limited to, plans, schedules, manpower, inspection, and training information;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="8"><span>'Proprietary Computer Code' which includes all sets of statements, instructions or programs of the Client, whether in human readable or machine readable form, that are expressed, fixed, embodied or stored in any manner and that can be used directly or indirectly in a computer ('Computer Programs'); any report format, design or drawing created or produced by such Computer Programs; and all documentation, design specifications and charts, and operating procedures which support the Computer Programs;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="9"><span>'Computer Technology' which includes all scientific and technical information or material of the Client, pertaining to any machine, appliance or process, including but not limited to, specifications, proposals, models, designs, formulas, test results and reports, analyses, simulation results, tables of operating conditions, materials, components, industrial skills, operating and testing procedures, shop practices, know-how and show-how;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="10"><span>'Accounting Information' which includes, without limitation, all financial statements, annual reports, balance sheets, company asset information, company liability information, revenue and expense reporting, profit and loss reporting, cash flow reporting, accounts receivable, accounts payable, inventory reporting, purchasing information and payroll information of the Client; and </span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="11"><span>Confidential Information will also include any information that has been disclosed by a third party to the</span> Client and is protected by a non-disclosure agreement entered into between the third party and the Client.<span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li style="margin-bottom:18.0pt;" value="4"><span>Confidential Information will not include the following information: </span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>Information that is generally known in the industry of the Client;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="2"><span>Information that is now or subsequently becomes generally available to the public through no wrongful act of the Contractor;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="3"><span>Information that the Contractor rightfully had in their possession prior to the disclosure to the Contractor by the Client;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="4"><span>Information that is independently created by the Contractor without direct or indirect use of the Confidential Information; or</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="5"><span>Information that the Contractor rightfully obtains from a third party who has the right to transfer or disclose it.</span><span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Obligations of Non-Disclosure</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="5"><span>Except as otherwise provided in this Agreement, the Contractor must not disclose the Confidential Information.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="6"><span>Except as otherwise provided in this Agreement, the Confidential Information will remain the exclusive property of the Client and will only be used by the Contractor for the Permitted Purpose. The Contractor will not use the Confidential Information for any purpose that might be directly or indirectly detrimental to the Client or any of their affiliates or subsidiaries.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="7"><span>The obligations to ensure and prevent the disclosure of the Confidential Information imposed on the Contractor in this Agreement and any obligations to provide notice under this Agreement will survive the expiration or termination, as the case may be, of this Agreement and those obligations will last indefinitely.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="8"><span>The Contractor may disclose any of the Confidential Information:</span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>to such of their employees, agents, representatives and advisors that have a need to know for the Permitted Purpose provided that:</span><span style="color:#000000;"><br/></span>
					<ol start="1" style="list-style:lower-roman;">
						<li style="margin-bottom:18.0pt;" value="1"><span>the Contractor has informed such personnel of the confidential nature of the Confidential Information;</span><span style="color:#000000;"><br/></span>
						</li>
						<li style="margin-bottom:18.0pt;" value="2"><span>such personnel agree to be legally bound to the same burdens of non-disclosure and non-use as the Contractor;</span><span style="color:#000000;"><br/></span>
						</li>
						<li style="margin-bottom:18.0pt;" value="3"><span>the Contractor agrees to take all necessary steps to ensure that the terms of this Agreement are not violated by such personnel; and</span><span style="color:#000000;"><br/></span>
						</li>
						<li style="margin-bottom:0.0pt;" value="4"><span>the Contractor agrees to be responsible for and indemnify the Client for any breach of this Agreement by their personnel.</span><span style="color:#000000;"><br/></span>
						</li>
					</ol>
				</li>
				<li style="margin-bottom:18.0pt;" value="2"><span>to a third party where the Client has consented in writing to such disclosure; and</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="3"><span>to the extent required by law or by the request or requirement of any judicial, legislative, administrative or other governmental body.</span><span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Avoiding Conflict of Opportunities</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="9"><span>It is understood and agreed that any business opportunity relating to or similar to the Client's current or anticipated business opportunities coming to the attention of the Contractor during the Contractor's retainer is an opportunity belonging to the Client. Accordingly, the Contractor will advise the Client of the opportunity and cannot pursue the opportunity, directly or indirectly, without the written consent of the Client.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="10"><span>Without the written consent of the Client, the Contractor further agrees not to:</span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>solely or jointly with others undertake or join any planning for or organization of any business activity competitive with the current or anticipated business activities of the</span> Client; and <span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="2"><span>directly or indirectly, engage or participate in any other business activities which the Client, in their reasonable discretion, determines to be in conflict with the best interests of the Client.</span><span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Non-Solicitation</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="11"><span>The Contractor, their affiliates, subsidiaries and representatives will not, during the term of this Agreement and for a period of two (2) years after the termination of this Agreement, directly or indirectly, employ or solicit for employment any person who is now employed or retained by the Client or any affiliate of the Client without the prior written consent of the Client, which consent may not be unreasonably withheld.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Non-Competition</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="12"><span>Other than through employment with a bona-fide independent party, or with the express written consent of the Client, which will not be unreasonably withheld, the Contractor will not, during the continuance of this Agreement or within five (5) years after the termination or expiration, as the case may be, of this Agreement, be directly or indirectly involved with a business which is in direct competition with the particular business line of the Client that the Contractor was working during any time in the last year of retainer with the Client.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="13"><span>For a period of five (5) years from the date of termination or expiration, as the case may be, of the Retainer, the Contractor will not divert or attempt to divert from the Client any business the Client had enjoyed, solicited, or attempted to solicit, from their customers, prior to termination or expiration, as the case may be, of the Retainer.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Ownership and Title</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="14"><span>The Contractor acknowledges and agrees that all rights, title and interest in any Confidential Information will remain the exclusive property of the Client. Accordingly, the Contractor specifically agrees and acknowledges that the Contractor will have no interest in the Confidential Information, including, without limitation, no interest in know-how, copyright, trademarks or trade names, notwithstanding the fact that the Contractor may have created or contributed to the creation of the same.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="15"><span>The Contractor does hereby waive any moral rights that the Contractor may have with respect to the Confidential Information.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="16"><span>The Confidential Information will not include anything developed or produced by the Contractor during the term of this Agreement, including but not limited to intellectual property, process, design, development, creation, research, invention, know-how, trade name, trademarks or copyright that:</span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>was developed without the use of any equipment, supplies, facility or Confidential Information of the Client;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="2"><span>was developed entirely on the Contractor's own time;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="3"><span>does not relate to the actual business or reasonably anticipated business of the Client;</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:18.0pt;" value="4"><span>does not relate to the actual or demonstrably anticipated processes, research or development of the Client; and</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="5"><span>does not result from any work performed by the Contractor for the Client.</span><span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li style="margin-bottom:18.0pt;" value="17"><span>The Contractor agrees to immediately disclose to the Client all Confidential Information developed in whole or in part by the Contractor during the term of the Retainer and to assign to the Client any right, title or interest the Contractor may have in the Confidential Information. The Contractor agrees to execute any instruments and to do all other things reasonably requested by the Client (both during and after the term of the Retainer) in order to vest more fully in the Client all ownership rights in those items transferred by the Contractor to the Client.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Remedies</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="18"><span>The Contractor agrees and acknowledges that the Confidential Information is of a proprietary and confidential nature and that any disclosure of the Confidential Information to a third party in breach of this Agreement cannot be reasonably or adequately compensated for in money damages and would cause irreparable injury to the Client. Accordingly, the Contractor agrees that the Client is entitled to, in addition to all other rights and remedies available to it at law or in equity, an injunction restraining the Contractor and any agents of the Contractor, from directly or indirectly committing or engaging in any act restricted by this Agreement in relation to the Confidential Information.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Return of Confidential Information</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="19"><span>The Contractor agrees that, upon request of the Client, or in the event that the Contractor ceases to require use of the Confidential Information, or upon expiration or termination of this Agreement, or the expiration or termination of the Retainer, the Contractor will turn over to the Client all documents, disks or other computer media, or other material in the possession or control of the Contractor that: </span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>may contain or be derived from ideas, concepts, creations, or trade secrets and other proprietary and Confidential Information as defined in this Agreement; or</span><span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="2"><span>is connected with or derived from the Contractor's services to the Client.</span><span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Notices</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="20"><span>In the event that the Contractor is required in a civil, criminal or regulatory proceeding to disclose any part of the Confidential Information, the Contractor will give to the Client prompt written notice of such request so the Client may seek an appropriate remedy or alternatively to waive the Contractor's compliance with the provisions of this Agreement in regards to the request.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="21"><span>If the Contractor loses or makes unauthorized disclosure of any of the Confidential Information, the Contractor will immediately notify the Client and take all reasonable steps necessary to retrieve the lost or improperly disclosed Confidential Information.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="22"><span>Any notices or delivery required in this Agreement will be deemed completed when hand-delivered, delivered by agent, or seven (7) days after being placed in the post, postage prepaid, to the parties at the addresses contained in this Agreement or as the parties may later designate in writing.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="23"><span>The address for any notice to be delivered to any of the parties to this Agreement is as follows:</span><span style="color:#000000;"><br/></span>
			<ol start="1" style="list-style:lower-alpha;">
				<li style="margin-bottom:18.0pt;" value="1"><span>Christopher Van Norman:</span><br/>702 Sweetgum Ln, Round Rock, TX 78664<span style="color:#000000;"><br/></span>
				</li>
				<li style="margin-bottom:0.0pt;" value="2"><span>Eytan Tal:</span><br/> 6109 Silver Lakes Drive W, Lakeland, Florida 33810<span style="color:#000000;"><br/></span>
				</li>
			</ol>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Representations</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="24"><span>In providing the Confidential Information, the Client makes no representations, either expressly or impliedly as to its adequacy, sufficiency, completeness, correctness or its lack of defect of any kind, including any patent or trademark infringement that may result from the use of such information. </span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Termination</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="25"><span>This Agreement will automatically terminate on the date that the Contractor's Retainer with the Client terminates or expires, as the case may be. Except as otherwise provided in this Agreement, all rights and obligations under this Agreement will terminate at that time.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Assignment</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="26"><span>Except where a party has changed its corporate name or merged with another corporation, this Agreement may not be assigned or otherwise transferred by either party in whole or part without the prior written consent of the other party to this Agreement.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Amendments</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="27"><span>This Agreement may only be amended or modified by a written instrument executed by both the Client and the Contractor.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Governing Law</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="28"><span>This Agreement will be construed in accordance with and governed by the laws of Texas.</span><span style="color:#000000;"><br/></span>
		</li>
		<li class="lh" style="text-align:Left;list-style:none;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">General Provisions</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="29"><span>Time is of the essence in this Agreement.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="30"><span>This Agreement may be executed in counterparts.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="31"><span>Headings are inserted for the convenience of the parties only and are not to be considered when interpreting this Agreement. Words in the singular mean and include the plural and vice versa. Words in the masculine mean and include the feminine and vice versa.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="32"><span>The clauses, paragraphs, and subparagraphs contained in this Agreement are intended to be read and construed independently of each other. If any part of this Agreement is held to be invalid, this invalidity will not affect the operation of any other part of this Agreement.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="33"><span>The Contractor is liable for all costs, expenses and expenditures including, and without limitation, the complete legal costs incurred by the Client in enforcing this Agreement as a result of any default of this Agreement by the Contractor.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="34"><span>The Client and the Contractor acknowledge that this Agreement is reasonable, valid and enforceable. However, if a court of competent jurisdiction finds any of the provisions of this Agreement to be too broad to be enforceable, it is the intention of the Client and the Contractor that such provision be reduced in scope by the court only to the extent deemed necessary by that court to render the provision reasonable and enforceable, bearing in mind that it is the intention of the Contractor to give the Client the broadest possible protection against disclosure of the Confidential Information.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="35"><span>No failure or delay by the Client in exercising any power, right or privilege provided in this Agreement will operate as a waiver, nor will any single or partial exercise of such rights, powers or privileges preclude any further exercise of them or the exercise of any other right, power or privilege provided in this Agreement.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:18.0pt;" value="36"><span>This Agreement will inure to the benefit of and be binding upon the respective heirs, executors, administrators, successors and assigns, as the case may be, of the Client and the Contractor.</span><span style="color:#000000;"><br/></span>
		</li>
		<li style="margin-bottom:0.0pt;" value="37"><span>This Agreement constitutes the entire agreement between the parties and there are no further items or provisions, either oral or otherwise.</span><span style="color:#000000;"><br/></span>
		</li>
	</ol><div class=" keepTogether">
	<p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;">IN WITNESS WHEREOF </span>Christopher Van Norman and Eytan Tal have duly affixed their signatures under hand and seal on this 4th day of December, 2024.<br/><br/>
	</p><div>
	<table style="line-height:18.0pt;margin-right:auto;width:100%;border-collapse:separate;border-spacing:0pt;"><col style="width:48%;"/><col style="width:4%;"/><col style="width:48%;"/><tbody>
		<tr>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
		</tr>
		<tr>
			<td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">__________________________________
				</p>
			</td>
		</tr>
		<tr>
			<td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Christopher Van Norman (Client)
				</p>
			</td>
		</tr></tbody>
	</table></div></div><div class=" keepTogether">
	<table style="line-height:18.0pt;margin-right:auto;width:100%;border-collapse:separate;border-spacing:0pt;"><col style="width:48%;"/><col style="width:4%;"/><col style="width:48%;"/><tbody>
		<tr>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
		</tr>
		<tr>
			<td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">__________________________________
				</p>
			</td>
		</tr>
		<tr>
			<td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">&nbsp;
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"> &nbsp; 
				</p>
			</td>
			<td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
				<p style="font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">Eytan Tal (Contractor)
				</p>
			</td>
		</tr></tbody>
	</table></div></div><div class="LDCopyright">
						<p>Copyright 2002-2024, LegalContracts.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
