<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>Secret of Infinity</title>
    <link rel="stylesheet" type='text/css' href="/static/css/index.css" />
    
    <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png" />
    <link rel="manifest" href="/static/img/site.webmanifest" />
</head>
<body>
<div id="top">
    <div class="quarter-ellipse">
        <div style="padding:56.25% 0 0 0;position:relative;right:0px;top:-100px">
            <iframe src="https://player.vimeo.com/video/178361265?badge=0i&muted=1&autoplay=1&loop=1&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Super Math World splash video"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div class="quarter-ellipse overlay"></div>

    <ul>
        <li class="item item-1 boxy "></li>
        <li class="item item-2 boxy"></li>
        <li class="item item-3"></li>
        <li class="item"></li>
        <li class="item"></li>
        </ul>

</div>

hi
</body>
</html>


