<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type='text/css' href="/static/css/loginpage.css" />
    <script src="/static/js/jquery-min.js"> </script>
    <script src="/static/js/loginpage.js"></script>
  
  </head>

  <body>
    <div id="user">
        <h1>Welcome <span id="userName">Errror</span>, <span id="userId"></span></h1>
        <p><button id="logout">Logout</button></p>
        <br>
        <p><button id="initDb">Init DB</button></p>
        <br>Levels:
        <div id="levels">

        </div>
    </div>
    <div id="login">
        <h1>Welcome Guest</h1>
        <p><a href="/login?provider=facebook&callback={{callback}}">Login with Facebook</a></p>
        <p><a href="/login?provider=google&callback={{callback}}">Login with Google</a></p>
        <!-- https://github.com/orgs/supabase/discussions/20353 Google redirect won't work properly locally -->
        <input type="text" id="tempLevelJson"></input><button onclick="javascript:sessionStorage.setItem('tempLevelJson', document.getElementById('tempLevelJson').value);
">save</button>
</div>
  </body>
</html>



