html,body {
    border:0;margin:0;padding:0;overflow:hidden;
    background:#222;
}

#application {
    position:relative;
}

#loading {
    text-align:center;
    padding-top:200px;
    font-size:1.2em;
    color:#ddd;
}

#loginStatus {
    position: absolute;
    bottom: 2px;
    left: 2px; /*calc(50% - 340px); */
    width:200px;
    height:30px;
    line-height:10px; 
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: Consolas, "Courier New", monospace;
    font-size: 7px;
    overflow:hidden;
    z-index: 100;
    white-space:nowrap;
}

.loginBtn {
    padding: 1px 6px;
    border: 1px outset gray;
    border-radius: 3px;
    color: black;
    background-color: gray;
    text-decoration: none;
}
